* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  max-width: 100%;
}
.clear {
  clear: both;
}
body {
  background-image: url(./images/pic2.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/* HEADER  */
.header_container {
  padding: 38px;
  width: 84%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.header_container nav {
  margin-left: 160px;
}
.header_container nav {
  display: flex;
}
.header_container nav {
  list-style-type: none;
}
.header_container nav a {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  margin-left: 30px;
  /* display block animation mới chạy */
  /* display: block; */
  transition: all 0.5s;
}
.header_container nav a span {
  margin-top: 5px;
  display: inline-block;
}
.header_container nav a i {
  padding-left: 5px;
  font-size: 10px;
}
.header_container nav a:hover {
  color: #f55f8d;
}
.header_container nav a:hover span {
  animation: up 0.5s;
}
@keyframes up {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
/* .header_container nav ul li a::after {
  content: "\f107";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  text-decoration: inherit;
  position: relative;
  top: -2px;
  left: 5px;
} */
.header_container button {
  padding: 20px 35px;
  margin-right: 10px;
  border-radius: 35px;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: white;
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
}

.header_container button:hover {
  background-position: right center;
}
/* HEADER  */

/* INTRO  */
.intro {
  margin: 40px 20px 0px 160px;
  display: flex;
  justify-content: space-between;
}
.intro_content {
  margin-top: 60px;
}
.intro_content p:first-of-type {
  font-weight: 600;
  font-size: 22px;
  color: #f55f8d;
  margin-bottom: 20px;
}
.intro_content h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
}
.intro_content p:nth-of-type(2) {
  font-size: 18px;
  color: #636363;
  font-weight: 400;
  line-height: 1.6;
  margin: 20px 0;
}
.intro_content_2 {
  margin-bottom: 20px;
}
.intro_content_2 span {
  padding-left: 20px;
  font-size: 20px;
  color: #636363;
  font-weight: 400;
  line-height: 1.6;
}
.intro button {
  padding: 20px 35px;
  margin-right: 10px;
  border-radius: 35px;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.intro button:hover {
  background-position: right center;
}
.intro .icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
}
.intro .icon i {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: white;
  font-weight: 100;
}
/* INTRO  */

/* SERVICE  */
.service {
  background-image: url(./images/bg2.png);
  background-position: center top;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.service_content p {
  margin-top: 40px;
  font-weight: 600;
  font-size: 22px;
  color: #f55f8d;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.service_content h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  text-transform: capitalize;
}
.service_item {
  width: 80%;
  margin: 30px auto 0px;
  display: flex;
}
.service_item_container {
  border-width: 1px;
  border-image: url(./images/br.png) 25% round;
  /* border: 1px red solid;
  background-color: green; */
  padding: 10px;
}
.service_item_container .container {
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  transform: translateY(0px);
  transition: all 0.5s;
}
.service_item_container .container:hover {
  transform: translateY(-30px);
  transition: all 0.5s;
}

.service_item_container .item_image img {
  width: 60%;
  margin-top: 30px;
}
.service_item_container .item_content h2 {
  margin: 20px;
}
.service_item_container .item_content p {
  padding-bottom: 30px;
  line-height: 25px;
  color: #636363;
}
/* SERVICE  */

/* INTRO2  */
.intro2 {
  background-image: url(./images/bg15.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  margin-top: 120px;
  display: flex;
}
.intro2_image {
  width: 50%;
}
.intro2_image img {
  width: 90%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-top: 80px;
}
.intro2_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.intro2_content p:first-of-type {
  font-weight: 600;
  font-size: 22px;
  color: #f55f8d;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.intro2_content h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  text-transform: capitalize;
}
.intro2_content p:nth-of-type(2) {
  color: #636363;
  margin: 20px 0px;
  line-height: 25px;
}
.intro2_content_icon {
  margin-bottom: 20px;
}
.intro2_content_icon .icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: #f55f8d 2px solid;
  border-radius: 20px;
  color: #f55f8d;
  font-size: 15px;
}
.intro2_content_icon span {
  color: #636363;
  margin-bottom: 20px;
}
.intro2_content_button {
  margin-top: 20px;
}
.intro2_content button {
  padding: 20px 35px;
  margin-right: 10px;
  border-radius: 35px;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.intro2_content button:hover {
  background-position: right center;
}
/* INTRO2  */

/* NUMBER */
.number {
  height: 320px;
  background-image: url(./images/bg14.png);
  background-position: center;
  background-position-x: -200px;
  margin-top: 80px;
}
.number_list {
  width: 80%;
  padding-top: 90px;
  margin: 0 auto;
  display: flex;
}
.number_list_container {
  width: 25%;
  text-align: center;
}
.container_icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
}
.container_icon img {
  width: 45px;
}
.number_list_container .container_content {
  margin-top: 10px;
}
.number_list_container .container_content h1 {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
}
.number_list_container .container_content p {
  font-size: 20px;
}
/* NUMBER  */
/* FEATURE  */
.feature {
  background-image: url(./images/bg2.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 120px;
  display: flex;
}
.feature_content {
  margin-left: 150px;
  width: 40%;
}
.feature_content1 p {
  font-weight: 600;
  font-size: 22px;
  color: #f55f8d;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.feature_content1 h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  text-transform: capitalize;
}
.feature_content2 .right {
  float: right;
}

.feature_content2_item {
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 34%;
  margin-top: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: all 1s;
  background-color: white;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.feature_content2_item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(
    to right,
    rgb(245, 95, 141) 0,
    rgb(248, 174, 86) 100%,
    rgb(245, 95, 141) 100%
  );
  opacity: 0;
  z-index: -1;
  transition: all 0.8s;
}
.feature_content2_item:hover::after {
  opacity: 1;
}
.feature_content2_item:hover * {
  color: #fff;
}
/* .feature_content2 .feature_content2_item_overlay {
  background-image: linear-gradient(
    to right,
    rgba(245, 95, 140) 0,
    rgba(248, 174, 86) 100%,
    rgba(245, 95, 141) 100%
  );
  transition: all 0.5s;
  opacity: 0;
} */

.feature_content2_item_img {
  margin: 30px;
}
.feature_content2_item_img i {
  font-size: 80px;
  color: #f55f8d;
  transition: all 0.5s;
}
.feature_content2_item_content {
  margin-right: 20px;
}
.feature_content2_item_content h2 {
  transition: all 0.8s;
}
.feature_content2_item_content p {
  color: #636363;
  transition: all 0.5s;
}
.feature_picture {
  width: 50%;
}
.feature_picture img {
  width: 90%;
  animation: img 2s alternate-reverse infinite;
}
@keyframes img {
  0% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
/* .feature_content2_item:hover {
     background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  transition: 1s;
}
.feature_content2_item:hover .feature_content2_item_content * {
  color: white;
} */
/* FEATURE  */
/* PROFILE  */
.profile {
  margin-top: 140px;
}
.profile_content {
  text-align: center;
  margin-bottom: 20px;
}
.profile_content p {
  font-weight: 600;
  font-size: 22px;
  color: #f55f8d;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.profile_content h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  text-transform: capitalize;
}
.profile_picture {
  width: 80%;
  height: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 27% 27% 40%;
  grid-template-rows: 42% 20% 30%;
  gap: 35px;
}

.profile_picture_1 {
  background-image: url(./images/pic1_2.jpg);
  background-size: 100% 100%;
  background-position: center;
  border-radius: 10px;
  grid-column: 1/3;
  overflow: hidden;
}
.profile_picture_2 {
  background-image: url(./images/pic2_1.jpg);
  background-size: 100% 100%;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}
.profile_picture_3 {
  background-image: url(./images/pic3_1.jpg);
  background-size: 100% 100%;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}
.profile_picture_4 {
  background-image: url(./images/pic4.jpg);
  background-size: 100% 100%;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}
.profile_picture_5 {
  background-image: url(./images/pic5.jpg);
  background-size: 100% 100%;
  background-position: center;
  border-radius: 10px;
  grid-column: 1/3;
  overflow: hidden;
}
.profile_picture_6 {
  background-image: url(./images/pic6.jpg);
  background-size: 100% 100%;
  background-position: center;
  border-radius: 10px;
  grid-column: 3/4;
  grid-row: 2/4;
  overflow: hidden;
}
.picture_overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.493);
  position: relative;
  opacity: 0;
  transition: all 0.5s;
}
.picture_overlay::before {
  content: "";
  width: 50%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: -70%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: 0.5s all;
}
.picture_overlay:hover::before {
  left: 70%;
}
.picture_overlay .overlay_plus {
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  right: 20px;
  top: 20px;
  transform: translateX(20px) translateY(-20px);
  transition: all 0.5s;
}
.picture_overlay .overlay_author {
  color: white;
  position: absolute;
  left: 20px;
  bottom: 20px;
  line-height: 30px;
  transform: translateY(100px);
  transition: all 0.5s;
}

.picture_overlay .overlay_author span:first-of-type {
  font-size: 22px;
  font-weight: 800;
}
.picture_overlay .overlay_author span:nth-of-type(2) {
  opacity: 0.7;
}
.picture_overlay:hover {
  opacity: 1;
}
.picture_overlay:hover .overlay_author {
  transform: translateY(0px);
}
.picture_overlay:hover .overlay_plus {
  transform: translateX(0px) translateY(0px);
}
/* PROFILE  */

/* PLAN  */
.plan {
  background-image: url(./images/bg16.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 30px;
}
.plan_content {
  padding-top: 100px;
}
.plan_content p {
  font-weight: 600;
  font-size: 22px;
  color: #f55f8d;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.plan_content {
  text-align: center;
}
.plan_content h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  text-transform: capitalize;
}
.plan_list {
  width: 80%;
  margin: 30px auto;
  display: flex;
}
.plan_list_item {
  /* border: red 1px solid; */
  padding: 10px;
}
.plan_list_item_container {
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: left;
  background-color: white;
  border: 3px solid transparent;
  position: relative;
  z-index: 1;
}
.plan_list_item_container::after {
  content: "";
  width: 100%;
  height: 100%;
  border: 3px solid;
  border-radius: 10px;
  border-image: url(./images/br.png);
  border-image-slice: 10;
  /* border-image-repeat: round; */
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: -1;
  opacity: 0;
}
.plan_list_item_container:hover::after {
  border: 3px solid;
  border-image: url(./images/br.png);
  border-image-slice: 2;
  border-image-repeat: repeat;
  opacity: 1;
  transition: all 0.3s ease-in;
}

/* .plan_list_item_container:hover {
  background-image: url(./images/br.png);
  border: white 1px solid;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; */

.plan_list_item_container h2 {
  background-color: white;
  border-radius: 10px;
  margin-left: 130px;
  padding-top: 40px;
  font-weight: 700;
  color: #262626;
  font-size: 32px;
}
.plan_list_item_container img {
  width: 35%;
  margin-left: 130px;
}
.plan_list_item_container p {
  margin-bottom: 40px;
  font-weight: bold;
  margin-left: 130px;
}
.plan_list_item_container p span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}
.plan_list_item_container p::after {
  display: block;
  margin: 0 auto;
  content: "";
  width: 100%;
  height: 1px;
  border-top: 1px #88888852 solid;
  position: relative;
  top: 15px;
  left: -60px;
}
.plan_list_item_container .check {
  margin: 10px 75px 10px 75px;
}
.plan_list_item_container .check .icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 27px;
  text-align: center;
  border-radius: 20px;
  background-color: #f55f8c18;
}
.plan_list_item_container .check .icon i {
  font-size: 12px;
  color: #f55f8d;
}
.plan_list_item_container .check span {
  font-size: 18px;
  margin-left: 15px;
}
.plan_list_item_container .button {
  text-align: center;
  margin-top: 25px;
}
.plan_list_item_container button {
  margin-bottom: 35px;
  padding: 20px 35px;
  border-radius: 35px;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.plan_list_item_container button:hover {
  background-position: right center;
}
/* PLAN  */

/* BLOG  */
.blog {
  max-width: none;
  background-image: url(./images/bg16.png);
  background-size: cover;
  background-position: top;
}
.blog_content {
  text-align: center;
}
.blog_content p {
  font-weight: 600;
  font-size: 22px;
  color: #f55f8d;
  text-transform: capitalize;
  margin-bottom: 30px;
  padding-top: 100px;
}
.blog_content h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  text-transform: capitalize;
  margin-bottom: 10px;
}
/* OWLCAROUSEL  */

.multiple-items {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.multiple-items * {
  max-width: none;
}
.multiple-items .container {
  padding: 15px;
}
.blog_news_item_container {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgba(245, 95, 141, 0.1);
  position: relative;
}
.blog_news_item_container > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.blog_news_item_container > span {
  border-radius: 6px;
  padding: 12px 20px;
  font-size: 14px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: white;
  position: relative;
  top: -10px;
  left: 15px;
}
.blog_news_item_container > hr {
  border-top: 1px #88888852 solid;
  color: white;
  margin-top: 40px;
}
.blog_news_item_container > p:first-of-type {
  font-size: 24px;
  font-weight: 700;
  color: #262626;
  padding-top: 15px;
  padding-left: 15px;
}
.blog_news_item_container > p:nth-of-type(2) {
  color: #636363;
  font-weight: 400;
  padding-left: 15px;
}
.blog_news_item_container .author {
  margin-top: 15px;
  padding-bottom: 15px;
  display: flex;
}
.blog_news_item_container .author .author_name {
  color: #636363;
  padding-left: 15px;
  display: flex;
}
.blog_news_item_container .author .author_name span {
  color: #f55f8d;
}

.blog_news_item_container .author img {
  margin-right: 5px;
  width: 17px;
  display: block;
}
.blog_news_item_container .author .customer_comment {
  padding-left: 15px;
  display: flex;
  color: #636363;
}
/* BLOG  */

/* tesmino  */
.testimo {
  margin: 100px 0;
  background-image: url(./images/bg17.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -20px;
  overflow: hidden;
}

.testimo > p {
  text-align: center;
}
.testimo > p:first-child {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.testimo > p:nth-child(2) {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 30px;
}
.testimonial-content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
}

.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: pink;
}

.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
}
.testimonial-comment {
  min-height: 300px;
  width: 100%;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}
.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: rgb(0 0 0 / 10%) 0px 5px 30px 0px;
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}
.testimonial-thumbs {
  overflow: hidden;
  position: relative;
}
.testimonial-thumbs::before {
  z-index: 2;
  content: "";
  width: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}
.testimonial-thumbs::after {
  z-index: 2;
  content: "";
  width: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
}
.testimonial-thumbs .testimonial-pic img {
  background-color: #f55f8d;
}
.testimonial-text {
  /* max-width: 900; */
  height: 250px;
  display: flex;
  /* max-height: 500px; */
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  position: relative;
}
.testimonial-text .testimonial-name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
}
.testimonial-text span {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: #f55f8d;
}
.testimonial-text p {
  margin-top: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: #636363;
}
.testimonial-text i {
  transform: rotateZ(180deg);
  font-size: 70px;
  color: #f55f8d;
  position: absolute;
  top: 15px;
  left: 15px;
}
.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal > .swiper-pagination-bullets {
  bottom: auto;
}
.swiper-pagination-bullet-active {
  background-color: #f55f8d;
}
/* <!-- SUBSCIRBE  --> */

footer {
  background-image: url(./images/pattern2.png);
  background-size: contain;
  background-color: rgba(14, 27, 31, 1);
  background-repeat: no-repeat;
}
.subscribe {
  margin-top: 30px;
}
.subscribe_container {
  background-image: url(https://cybersamar.vercel.app/img/pattern3.png);
  background-color: white;
  background-position: bottom;
  background-size: cover;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  padding: 50px;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe_content p {
  font-size: 28px;
  color: #262626;
  font-weight: 500;
  line-height: 1.6;
}
.subscribe_form {
  width: 50%;
  display: flex;
  justify-content: end;
}
.subscribe_form form {
  width: 80%;
}
/* .subscribe_form form:hover {
  
} */
.subscribe_form form input {
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px -10px 40px 0px #8080802e;
  padding: 22px;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: #636363bf;
  outline-color: none;
  transition: border 0.5s;
}
.subscribe_form form input:hover {
  outline-style: solid;
  outline-color: #f55f8d;
  outline-width: 1px;
  /* border: #f55f8d 1px solid; */
}
.subscribe_form form input:focus {
  outline-style: solid;
  outline-color: #f55f8d;
  outline-width: 1px;
}
.subscribe_form .button {
  width: 17%;
  position: relative;
  left: -1px;
}
.subscribe_form button {
  height: 100%;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  cursor: pointer;
  transition: 0.5s;
}
.subscribe_form button img {
  width: 30%;
  transition: all 0.5s;
}
.subscribe_form button:hover {
  background-position: right center;
}
.subscribe_form button:hover img {
  animation: fadeRightin 0.5s;
}
@keyframes fadeRightin {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* <!-- SUBSCIRBE  --> */
/* BANNER  */
.banner {
  background-image: url(./images/bg4.png);
  background-size: cover;
  background-position: center;
}
.banner_container {
  width: 80%;
  margin: 0 auto;
  padding: 60px 0px;
  display: flex;
  justify-content: space-around;
}
.banner_container .infor {
  width: 23%;
}
.banner_container .infor .item {
  display: flex;
  color: white;
  margin: 20px 0;
}
.banner_container .infor .item .icon {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
}
.banner_container .infor .item .text {
  line-height: 25px;
  font-size: 15px;
}
.banner_container .link {
  width: 20%;
}
.banner_container .link span {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
  line-height: 45px;
}
.banner_container .link span::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 20px;
  width: 50px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  height: 4px;
}
.banner_container .link span::after {
  content: "";
  display: block;
  width: 15px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  height: 4px;
}
.banner_container .link ul {
  padding-top: 20px;
}
.banner_container .link ul li {
  list-style-type: none;
  margin: 30px 0px;
}
.banner_container .link ul li a {
  color: #636363;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.5s;
}
.banner_container .link ul li a:hover {
  color: white;
}

/* BANNER  */
/* certify  */
.certify {
  background-color: #1f343b;
  padding: 10px 0px;
}
.certify_container {
  display: flex;
  width: 78%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.certify_container .text {
  font-size: 15px;
}
.certify_container .text span {
  color: #f55f8d;
}
.certify_container .icon {
  display: flex;
}
.certify_container .icon .icon_container {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 50%;
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s;
}
.certify_container .icon .icon_container:hover {
  background-color: #f55f8d;
}

/* certify  */

/* backtotop  */
.backToTop {
  text-align: center;
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  line-height: 50px;
  color: white;
  visibility: hidden;
  opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
/* demo */
/* .p:hover {
  animation: p 0.5s infinite;
}
@keyframes p {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
} */
